@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');

:root {
  --color-primary: #CC0066;
  --color-accents-primary: #6d0d53;
  --color-secondary: #2D117C;
  --color-accents-secondary: #27043f;
  --color-background: #070013;
  --color-white: #f5f5f5;
}

/* reset */
html {
  font-family: 'Montserrat', sans-serif;
  font-display: swap;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-background);
}

a {
  text-decoration: none;
  z-index: 200;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.gradient-box {
  position: relative;
}

.gradient {
  height: 300px;
  top: -150px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--color-background) 50%, rgba(255, 255, 255, 0) 100%);
}

/* Navbar */
#navbar {
  position: fixed;
  z-index: 1000;
  height: 100px;
  width: 100%;
  top: 0;
}

.glass {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 2px;
  box-shadow: 0px 1px 10px #000;
}

#navbar .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100;
  height: 100%;
  padding: 0 30px;
}

#navbar .wrapper a {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}

#navbar .brand {
  font-size: 30px;
}

.nav-list ul {
  list-style: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
}

@media (min-width: 768px) {
  #navbar .wrapper {
    padding: 0 60px;
  }

  #navbar .brand {
    font-size: 40px;
  }
}

@media (min-width: 1366px) {
  .nav-list ul {
    flex-direction: row;
  }
}

@media(max-height: 412px) {
  .nav-list.show ul {
    padding-top: 40px;
    gap: 15px;
  }

  .gradient {
    height: 200px;
    top: -100px;
  }
}

@media (max-width: 1366px) {
  .nav-list ul {
    display: none;
  }

  .nav-list.show ul {
    display: flex;
    list-style: none;
    position: absolute;
    background-color: var(--color-background);
    flex-direction: column;
    left: 0;
    top: -10px;
    z-index: -1;
    overflow-x: hidden;
    width: 100%;
    height: 110vh;
  }

  /* Menu Icon */
  .nav-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
    width: 60px;
    height: 60px;
  }

  .icon-top,
  .icon-middle,
  .icon-bottom {
    position: absolute;
    width: 30px;
    height: 4px;
    background: var(--color-white);
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }

  .icon-top {
    transform: translateY(-10px);
    z-index: 2;
  }

  .icon-bottom {
    transform: translateY(10px);
    z-index: 3;
  }

  /* Animation */
  .nav-icon.x .icon-middle {
    -webkit-animation: line-middle-hide 0.7s forwards;
    animation: line-middle-hide 0.7s forwards;
  }

  .nav-icon.x .icon-top {
    -webkit-animation: line-top-rotate 0.7s forwards;
    animation: line-top-rotate 0.7s forwards;
  }

  .nav-icon.x .icon-bottom {
    -webkit-animation: line-bottom-rotate 0.7s forwards;
    animation: line-bottom-rotate 0.7s forwards;
  }

  .nav-icon.reverse .icon-middle {
    -webkit-animation: line-middle-show 0.7s forwards;
    animation: line-middle-show 0.7s forwards;
  }

  .nav-icon.reverse .icon-top {
    -webkit-animation: line-top-rotate-rev 0.7s forwards;
    animation: line-top-rotate-rev 0.7s forwards;
  }

  .nav-icon.reverse .icon-bottom {
    -webkit-animation: line-bottom-rotate-rev 0.7s forwards;
    animation: line-bottom-rotate-rev 0.7s forwards;
  }

  /* End Animation */

  /* End Menu Icon */
}

/* End Navbar */



/* Hero Section */
#hero {
  background-image: url(https://i.ibb.co/QCGFdJV/hero-bg.webp);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
}

#hero .hero div {
  padding: 0 20px;
}

#hero h1,
#hero h5 {
  display: block;
  width: fit-content;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5 ease forwards;
  z-index: 40;
}


#hero h1 {
  font-size: 4rem;
  font-family: 'Playfair Display', sans-serif;
  animation-delay: 1.5s;
}

#hero h5 {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  animation-delay: 2.5s;
}

@media(max-height: 412px) {
  #hero h1 {
    font-size: 2.5rem;
  }

  #hero h5 {
    font-size: 0.8rem;
  }
}

#hero h1 span,
#hero h5 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--color-primary);
  animation: text_reveal_box 1s ease;
}

#hero h1 span {
  animation-delay: 1s;
}

#hero h5 span {
  animation-delay: 2s;
}

#hero .cta {
  display: inline-block;
  visibility: hidden;
  padding: 10px 30px;
  background: transparent;
  border: 2px solid var(--color-white);
  font-size: 1.3rem;
  color: var(--color-white);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  animation: cta_reveal 1s ease forwards;
  animation-delay: 3s;
  transition: 0.5s;
  transition-timing-function: ease;
  z-index: 10;
}

#hero .cta:hover {
  background-color: var(--color-primary);
}

/* End Hero Section */


/* About Us Section */
#about-us {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--color-accents-secondary) 100%);
}

/* End About Us Section */


/* Offer Section */
#offer {
  background-image: linear-gradient(180deg, var(--color-accents-secondary) 10%, var(--color-accents-primary) 90%);
}

/* End Offer Section */

/* Team Section */
#team {
  background-image: linear-gradient(180deg, var(--color-accents-primary) 10%, var(--color-secondary) 90%);
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  font-size: 18px;
  color: var(--color-white);
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
  z-index: 100;
}

.btn-next {
  top: 45%;
  right: 2%;
}

.carousel-wrapper {
  max-width: 90%;
}

.carousel-wrapper .carousel {
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel li {
  height: 500px;
  width: 320px;
  margin-left: 20px;
}

.carousel li:first-child {
  margin-left: 0px;
}


.button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}


.card-wrapper {
  display: inline-block;
  width: 350px;
  height: 450px;
  background-color: var(--color-white);
  overflow: hidden;
  border: 0px;
}

.card {
  height: 100%;
}

.card .image-box {
  height: 350px;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .profile {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
  flex-direction: column;
}

.profile .name {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.profile .profession {
  color: rgb(66, 66, 66);
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
}

/* End Team Section */

/* Contact Section */
#contact {
  background-image: linear-gradient(180deg, var(--color-secondary) 10%, var(--color-background) 90%);
}

.contact-wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.company-info, 
.map{
  min-width: 50%;
text-align: center;
  color: var(--color-white);
}
.company-info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
  word-wrap: break-word;
}
.company-info h2{
  font-weight: 700;
  font-size: 2.5em;
}
.company-info a{
  color:var(--color-white);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.5em;
}
@media (min-width: 1366px) {
  .contact-wrapper  {
    flex-direction: row;
  }
}


/* End Contact Section */

/* Keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes cta_reveal {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes line-top-rotate {
  50% {
    transform: translateY(0px);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes line-top-rotate-rev {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes line-middle-hide {
  100% {
    background: transparent;
    box-shadow: none;
    width: 30px;
  }
}

@keyframes line-middle-show {
  0% {
    background: transparent;
    box-shadow: none;
  }

  50% {
    background: transparent;
    box-shadow: none;
    width: 30px;
  }

  100% {
    background: var(--color-white);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    width: 30px;
  }
}

@keyframes line-bottom-rotate {
  50% {
    transform: translateY(0px);
  }

  100% {
    transform: rotate(135deg);
  }
}

@keyframes line-bottom-rotate-rev {
  0% {
    transform: rotate(135deg);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

/* End Keyframes */